/* フォルダアイコンを変更 */
.folderGroup__48112 {
  --folder-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0%200%2024%2024'%3E%3Cpath d='M2%205a3%203%200%200%201%203-3h3.93a2%202%200%200%201%201.66.9L12%205h7a3%203%200%200%201%203%203v11a3%203%200%200%201-3%203H5a3%203%200%200%201-3-3V5Z' fill='%23000000'/%3E%3C/svg%3E");

  --folder-icon-color: var(--text-default);

  /* midnightテーマのcolorsが有効なときのみhover時の色を変更する */
  --folder-icon-color-hover: var(--folder-icon-color);
  @container root style(--colors: on) {
    --folder-icon-color-hover: var(--bg-4);
  }

  & .folderButtonContent__48112 {
    transform: unset !important;

    & > .folderIconWrapper__48112 {
      background-color: var(--background-mod-subtle);
      height: 48px;

      /* フォルダアイコン */
      &::after {
        position: absolute;
        width: 100%;
        height: 100%;
        content: "";
        top: 0;
        left: 0;
        background-color: var(--folder-icon-color);
        mask-image: var(--folder-icon);
        mask-size: 28px;
        mask-repeat: no-repeat;
        mask-position: center;
        transition:
          color 0.15s ease-out,
          background-color 0.15s ease-out;
      }

      /* hover時のフォルダアイコンの色 */
      &:hover::after {
        background-color: var(--folder-icon-color-hover);
      }
    }

    /* デフォルトのフォルダアイコンを非表示に */
    & > .folderIconWrapper__48112 > .folderIcon__48112,
    & > .folderPreviewWrapper__48112 {
      display: none;
    }
  }

  /* hover時と展開時のフォルダの背景色 */
  &:hover .folderButtonContent__48112 > .folderIconWrapper__48112,
  & > .folderGroupBackground__48112 {
    background-color: var(--custom-folder-color, var(--background-brand));
  }

  /* 展開時のフォルダアイコンの背景色を透明に */
  &.isExpanded__48112 .folderButtonContent__48112 > .folderIconWrapper__48112 {
    background-color: transparent;

    /* 展開時のフォルダアイコンの色 */
    &::after {
      background-color: var(--folder-icon-color-hover);
    }
  }
}
